.dividingBar {
    height: 6%;
    background-color: #05081B;
}

.about {

    width: 100%;
    background-color: #f5f5f5;
}

h2 {
   position: relative;
    padding-top: 5%;
    color: #05081B;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
}

.me {
    width: 30%;
    min-width: 400px;
}

p {
    color: #05081B;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    max-width: 40em;
    padding-bottom: 40px;
}