.dividingBar {
    height: 6%;
    background-color: #05081B;
}

.about {
    min-height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

h2 {
   position: relative;
    padding-top: 5%;
    color: #05081B;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
}

.me {
    width: 30%;
}

p {
    color: #05081B;
    font-family: 'Raleway', sans-serif;
}