.projects {
    background-color: #C6E3ED;
    min-height: 100%;

}


h2 {
    color: #05081B;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;

}

h3 {
    color: black;
    font-family: 'Raleway', sans-serif;
}